@import 'src/variables.scss';

.cart-details {
  .cart-item-image {
    max-height: 120px;
    margin: auto;
  }

  .remove-button {
    .rmx-icon {
      height: 16px;
      width: 16px;
      line-height: 0;

    }
  }

  .cart-item-name {
    font-weight: 700;
  }
  .cart-item-price {
    font-weight: 700;
    color: $primary;
  }
  .cart-item-quantity {
  }
  .cart-item-subtotal {
  }
}
