@import "./variables.scss";
@import "./reset.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

/*Layout Css*/
.section-content-p35 {
  padding: 0 35px;
}

.page-wrapper {
  overflow: hidden;
  background: $gray-100;
}

.page-container {
  background: $gray-50;
  padding-left: 200px;
  padding-bottom: 8vh;

}

.main-content {
  padding-top: 116px;
  min-height: 100vh;
}

aside.menu-sidebar.d-none.d-lg-block.clr {
  background: 0 0;
  z-index: 99999999;
  height: $header-height;
  box-shadow: -2px 0 4px rgba($black, 0.25);
}

/*
* ----------------------------
* Header Desktop Section
* ----------------------------
*/

.header-desktop {
  background: $white;
  border-bottom: 1px solid $gray-100;
  position: fixed;
  top: 0;
  right: 0;
  left: 200px;
  height: $header-height;
  z-index: 3;

  .section-content {
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.number {
  padding: $p-2 $p-0;
}

.arrows i {
  font-size: 30px;
  padding: $p-1;
}

section {
  position: relative;
}

.section-content {
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.section-content-p30 {
  padding: $p-0 $p-7;
}

.au-input-xl {
  min-width: 935px;
}

.au-input {
  line-height: 43px;
  border: 1px solid $gray-100;
  border-right: 0;
  font-size: 14px;
  color: $gray-600;
  padding: $p-0 $p-4;
  -webkit-border-radius: $b-radius;
  -moz-border-radius: $b-radius;
  border-radius: $b-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cart-area.d-n {
  display: block;

  a {
    display: flex;
    align-items: center;
  }
}

.cart-area i {
  font-size: 22px;
  float: left;
  margin-top: 16px;
  color: $primary;
  margin-left: 15px;
}

.total {
  background: $white;
  line-height: 43px;
  color: $gray-700;
  border-radius: $b-radius;
  border: 1px solid $gray-200;
  float: left;
  padding-left: $p-4;
  overflow: hidden;

  span {
    display: inline-block;
    background: $gray-100;
    padding: $p-0 $p-3;
    color: $primary;
    font-weight: 700;
    margin-left: 11px;
  }
}

.form-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.au-btn-submit {
  position: relative;
  right: 0;
  min-width: 3rem;
  color: $primary;
  border-top-right-radius: $b-radius;
  -webkit-border-top-right-radius: $b-radius;
  border-bottom-right-radius: $b-radius;
  -webkit-border-bottom-right-radius: $b-radius;
  background: $white;
  border: 1px solid $gray-100;
  border-left: 0;
}

.au-btn-submit:hover {
  color: $primary-dark;
}

.au-btn-submit > i {
  font-size: 20px;
  color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*
* ----------------------------
* Left Menu Bar
* ----------------------------
*/

.menu-sidebar {
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: $white;
  overflow-y: auto;

  .logo {
    background: $white;
    border-bottom: 1px solid $gray-100;
    height: $header-height;
    padding: $p-0 $p-9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 3;
  }

  .navbar-list .navbar-sub-list {
    display: none;
    padding-left: 34px;
  }

  .navbar-list .navbar-sub-list li a {
    padding: 11.5px 0;
  }
}

.menu-sidebar-content {
  position: relative;
  height: -webkit-calc(100vh - $header-height);
  height: -moz-calc(100vh - $header-height);
  height: calc(100vh - $header-height);
}

.navbar-sidebar {
  padding: 35px;
  padding-bottom: 0;

  .navbar-list li a {
    display: block;
    color: $gray-700;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 0;
    text-decoration: none;
  }

  .navbar-list li a i {
    margin-right: 19px;
  }

  .navbar-list li a:hover {
    color: $primary-light;
  }
}
/*
* ----------------------------
* Header Mobile Section
* ----------------------------
*/

.header-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header-mobile .header-mobile-bar {
  padding: 15px 0;
  background: $white;
}
.header-mobile .header-mobile-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-mobile .hamburger {
  width: 36px;
  height: 36px;
  padding: 0;
  line-height: 1;
  vertical-align: top;
  background: $white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-mobile .hamburger .hamburger-box {
  width: 20px;
  height: 15px;
}
.header-mobile .hamburger .hamburger-box .hamburger-inner {
  width: 20px;
  height: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.header-mobile .hamburger .hamburger-box .hamburger-inner:before {
  width: 20px;
  height: 2px;
  top: 6px;
}
.header-mobile .hamburger .hamburger-box .hamburger-inner:after {
  top: 12px;
  width: 20px;
  height: 2px;
}
.header-mobile .navbar-mobile {
  display: none;
  position: absolute;
  width: 100%;
  top: 88px;
  z-index: 20;
}
.header-mobile .navbar-mobile .navbar-mobile-list {
  background: $gray-50;
}
.header-mobile .navbar-mobile .navbar-mobile-list > li > a {
  padding-left: 15px !important;
}
.header-mobile .navbar-mobile .navbar-mobile-list li a {
  color: $gray-700;
  display: block;
  padding: 10px 15px;
  padding-right: 25px;
  padding-left: 0;
  border-bottom: 1px solid $gray-100;
  text-transform: capitalize;
  line-height: inherit;
}
.header-mobile .navbar-mobile .navbar-mobile-list li a:hover {
  color: $primary-light;
}
.header-mobile .navbar-mobile .navbar-mobile-list li a > i {
  margin-right: 19px;
}
.navbar-mobile-sub-list {
  display: none;
  padding-left: 30px;
  background: $white;
}
.header-mobile .navbar-mobile .navbar-mobile-sub-list li a {
  padding-left: 15px;
}
.header-mobile-2 {
  background: $gray-200;
  position: static;
}
.header-mobile-2.header-mobile .navbar-mobile {
  top: 82px;
}
.header-mobile-2.header-mobile .hamburger {
  background: 0 0;
}
.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner {
  background: $white;
}
.header-mobile-2.header-mobile
  .hamburger
  .hamburger-box
  .hamburger-inner::before {
  background: $white;
}
.header-mobile-2.header-mobile
  .hamburger
  .hamburger-box
  .hamburger-inner::after {
  background: $white;
}
.main-content.page-m {
  padding: 10% 15% !important;
}

/*
* ----------------------------
* Products List
* ----------------------------
*/

.product-box img {
  width: 150px;
}

.items select {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: 0;
  margin-left: 5px;
}

.product-box {
  margin-bottom: 60px;
  padding-bottom: 1rem;
  background: $white;
  border-radius: $b-radius;
  box-shadow: $box-shadow;

  .product-image {
    border-bottom: 1px solid $gray-100;
    width: 100%;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  a {
    text-decoration: none;
  }

  h3 {
    font-size: 18px;
    border-bottom: 1px solid $gray-100;
    padding-bottom: 5px;
    font-weight: 700;
    padding-top: 12px;
    margin-bottom: 7px;
  }
  h4 {
    font-size: 14px;
    padding-bottom: 0;
    font-weight: 400;
    color: $gray-700;
  }
}
.price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .value {
    color: $gray-800;
    font-weight: 800;
    font-size: 1.15rem;
  }
}

/*
* ----------------------------
* Shopping Cart Checkout
* ----------------------------
*/

.form-area {
  background: $gray-100;
  position: relative;
  margin-bottom: 45px;
  padding: 50px 20px;
  border: 3px solid $gray-300;
}
.form-area h3 {
  position: absolute;
  top: -26px;
  left: 13px;
  background: $gray-100;
  padding: 10px 20px;
  font-weight: 500;
  z-index: 23;
  display: inline-block;
}
.input-space {
  margin-bottom: 20px;
}
.input-space label {
  padding-left: 31px;
  font-size: 14px;
  margin-bottom: 50px;
}
.input-space input[type="text"] {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  outline: 0;
  padding: 10px;
  border: 1px solid $gray-300;
}
.input-space select {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  outline: 0;
  padding: 0 10px;
  border: 1px solid $gray-300;
}
.au-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.au-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.au-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: $white !important;
  border: 2px solid $gray-100;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.au-checkbox:hover input ~ .au-checkmark {
  background-color: transparent;
}
.au-checkbox input:checked ~ .au-checkmark {
  background-color: $white;
}
.au-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.au-checkbox input:checked ~ .au-checkmark:after {
  display: block;
}
label.date {
  padding-top: 8px;
}
.au-checkbox .au-checkmark:after {
  left: 5px;
  top: -1px;
  width: 9px;
  height: 15px;
  border: solid $primary-light;
  border-width: 0 4px 4px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
option:first {
  color: $gray-300;
}
select {
  color: $gray-500;
}

/*
* ----------------------------
* Shopping Cart Details
* ----------------------------
*/

.table {
  margin: 0;
}
table.table.table-bordered {
  border: 1px solid $gray-300;
  background: $white;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid $gray-200;
}
table.table.table-bordered th {
  background: $primary-light;
  color: $white;
  font-size: 14px;
  padding: 7px;
}
.table-responsive {
  padding-right: 1px;
}
.items select {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: 0;
  margin-left: 5px;
}

/*
* ----------------------------
* Product Details
* ----------------------------
*/

.price {
  margin: 16px 0 0;
  font-weight: 800;
  color: $primary;
}

/**/

/*
* ----------------------------
* Buttons
* ----------------------------
*/

.btn-info {
  color: $white;
  background-color: $primary-light !important;
  border-color: $primary-light !important;
}

.primary-btn {
  background: $primary;
  padding: 8px 20px;
  text-align: center;
  display: inline-block;
  color: $white;
  border-radius: $b-radius;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  margin-top: 5px;
}

.primary-btn:hover {
  background: $primary-light;
  color: $white;
}

.active-link {
  font-weight: bold;
  color: $primary !important;
}

/*
* ----------------------------
* Footer section
* ----------------------------
*/

footer ul li a {
  color: $white;
}
footer {
  background: $gray-900;
  position: relative;
  text-align: center;
  ul {
    margin-bottom: 0;
  }
}
footer li a {
  color: $gray-800;
  font-weight: 500;
}
footer ul li {
  display: inline-block;
  font-size: 14px;
  padding: 10px 20px;
}

/*
* ----------------------------
* Media Queries
* ----------------------------
*/

@media (max-width: 1600px) {
  .au-input-xl {
    min-width: 290px;
  }
}
@media (max-width: 1315px) and (min-width: 992px) {
  .header-desktop3 .section-content {
    padding: 0 15px;
  }
}
@media (max-width: 1570px) and (min-width: 992px) {
  .header-navbar ul li a {
    padding: 25px 15px;
  }
}
@media (max-width: 1315px) and (min-width: 992px) {
  .header-navbar ul li a {
    font-size: 13px;
    padding: 27px 15px;
  }
  .header-navbar ul li a i {
    margin-right: 5px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .cart-area i {
    font-size: 22px;
    float: left;
    margin-top: 16px;
    color: $primary;
    margin-left: 15px;
  }
  .header-mobile .header-mobile-bar {
    padding: 10px 0;
    background: $white;
  }
  .header-wrap .account-item > .content {
    display: none;
  }
}

@media (max-width: 991px) {
  .section-content-p30 {
    padding: 0;
  }
  .page-container {
    position: relative;
    top: 88px;
    padding-left: 0;
  }
  .page-wrapper {
    background: $gray-100;
    padding-bottom: 12vh;
  }
  .main-content {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .cart-area.d-n {
    display: none;
  }
  .form-header {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .au-input-xl {
    min-width: 350px;
  }
  .logo {
    text-align: center;
  }
  .header-desktop {
    position: relative;
    top: 0;
    left: 0;
    height: 80px;
  }
  .header-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-button {
    margin-top: 30px;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .menu-sidebar2 {
    top: 0;
    right: -300px;
    left: auto;
    -webkit-box-shadow: 0 5px 10px 0 rgba($black, 0.1);
    -moz-box-shadow: 0 5px 10px 0 rgba($black, 0.1);
    box-shadow: 0 5px 10px 0 rgba($black, 0.1);
  }
  .header-desktop2 {
    left: 0;
    position: relative;
  }
  .header-desktop4 {
    position: static;
  }
  .section-content.section-content-p30.e-spc {
    padding-top: 100px;
  }
  header.header-desktop.extra {
    top: 93px !important;
  }
  .cart-area i {
    font-size: 22px;
    float: left;
    margin-top: 16px;
    color: $primary;
    margin-left: 15px;
  }
  .header-wrap2 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .au-input-xl {
    min-width: 150px;
  }
  .header-button-item {
    font-size: 22px;
    margin-right: 15px;
  }
  .main-content.page-m {
    padding: 10% 0 !important;
  }
  .header-mobile .navbar-mobile {
    display: none;
    position: absolute;
    width: 100%;
    top: 66px;
    z-index: 20;
  }
  .section-content.section-content-p30.e-spc {
    padding-top: 100px;
  }
  header.header-desktop.extra {
    top: 64px !important;
  }
  .header-desktop {
    position: relative;
    top: 0;
    left: 0;
    height: 80px;
  }
  a.logo img {
    width: 110px;
  }

  .cart-area i {
    font-size: 22px;
    float: left;
    margin-top: 16px;
    color: $primary;
    margin-left: 15px;
  }
  .footer-pagination {
    text-align: center;
  }
  .product-box {
    text-align: centerg;
  }
  .page-container {
    position: relative;
    top: 66px;
    padding-left: 0;
  }
  .au-btn-submit {
    position: relative;
    right: 10px;
    min-width: 85px;
    color: $white;
    border: 1px solid $primary;
    background: $primary;
  }
  input.au-input.au-input-xl {
    border-radius: 0 !important;
    margin-right: 0;
  }
  .cart-area.d-b {
    display: block;
  }
  .cart-area.d-n {
    display: none;
  }
  .cart-area i {
    font-size: 18px;
    float: left;
    margin-top: 16px;
    color: $primary-light;
    margin-left: 15px;
  }
  .total span {
    display: inline-block;
    background: $white;
    padding: 0 10px;
    color: $black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 6px;
  }
  .total {
    background: $primary;
    line-height: 30px;
    color: $white;
    border-radius: 30px;
    border: 1px solid $primary;
    float: left;
    margin-top: 9px;
    padding-left: 12px;
  }
  .header-mobile .header-mobile-bar {
    padding: 6px 0;
    background: $white;
    border: 0;
    padding: 8px 0;
  }
}
