$white: #FEFDFD;
$gray: #959BA7;
$gray-50: #F9FAFA;
$gray-100: #EEEFF1;
$gray-200: #D8DADE;
$gray-300: #C2C5CC;
$gray-400: #ACB0B9;
$gray-500: #959BA7;
$gray-600: #777E8D;
$gray-700: #5D636F;
$gray-800: #434851;
$gray-900: #2A2D32;
$black: #202020;

$primary: #205b8d;
$primary-light: #0da8e4;
$primary-dark: #05143f;
