$white: #FEFDFD;
$gray: #959BA7;
$gray-50: #F9FAFA;
$gray-100: #EEEFF1;
$gray-200: #D8DADE;
$gray-300: #C2C5CC;
$gray-400: #ACB0B9;
$gray-500: #959BA7;
$gray-600: #777E8D;
$gray-700: #5D636F;
$gray-800: #434851;
$gray-900: #2A2D32;
$black: #202020;

$primary: #11a4b8;
$primary-light: #37c5d8;
$primary-dark: #0c6b77;

$header-height: 80px;

$b-radius-sm: 4px;
$b-radius: 8px;
$b-radius-lg: 16px;

$p-0: 0px;
$p-1: 4px;
$p-2: 8px;
$p-3: 12px;
$p-4: 16px;
$p-5: 20px;
$p-6: 24px;
$p-7: 28px;
$p-8: 32px;
$p-9: 36px;
$p-10: 40px;

$box-shadow: 0 4px 8px rgba($black, 0.08);
