<div class="main-content page-m">
  <div class="section-content section-content-p-30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!-- Customer form -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="firstName">First name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text" />
                <div
                  *ngIf="
                    firstName?.invalid &&
                    (firstName?.dirty || firstName?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    First name is required
                  </div>
                  <div *ngIf="firstName?.errors?.['minlength']" class="">
                    First name must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="lastName">Last name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text" />
                <div
                  *ngIf="
                    lastName?.invalid && (lastName?.dirty || lastName?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    Last name is required
                  </div>
                  <div *ngIf="lastName?.errors?.['minlength']" class="">
                    Last name must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="email">Email</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text" />
                <div
                  *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                  class="text-danger"
                >
                  <div *ngIf="email?.errors?.['required']" class="">
                    Email is required
                  </div>
                  <div *ngIf="email?.errors?.['pattern']" class="">
                    The email is invalid. Ex: abc@def.com
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Shipping Address form -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="country">Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getStates('shippingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    shippingAddressCountry?.invalid &&
                    (shippingAddressCountry?.dirty ||
                      shippingAddressCountry?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="shippingAddressCountry?.errors?.['required'] || shippingAddressCountry?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    Country is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="state">State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let state of shippingAddressStates"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    billingAddressState?.invalid &&
                    (billingAddressState?.dirty || billingAddressState?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="billingAddressState?.errors?.['required'] || billingAddressState?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    State is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="city">City</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
                <div
                  *ngIf="
                    billingAddressCity?.invalid &&
                    (billingAddressCity?.dirty || billingAddressCity?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    City is required
                  </div>
                  <div
                    *ngIf="billingAddressCity?.errors?.['minlength']"
                    class=""
                  >
                    City must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="street">Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
                <div
                  *ngIf="
                    billingAddressStreet?.invalid &&
                    (billingAddressStreet?.dirty ||
                      billingAddressStreet?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    Street is required
                  </div>
                  <div
                    *ngIf="billingAddressStreet?.errors?.['minlength']"
                    class=""
                  >
                    Street must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="zipCode">ZIP Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
                <div
                  *ngIf="
                    billingAddressZipCode?.invalid &&
                    (billingAddressZipCode?.dirty ||
                      billingAddressZipCode?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="billingAddressZipCode?.errors?.['required'] || billingAddressZipCode?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    Zip Code is required
                  </div>
                  <div
                    *ngIf="billingAddressZipCode?.errors?.['minlength']"
                    class=""
                  >
                    Zip Code must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Copy Shipping address to Billing address -->
        <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span>Billing Address same as Shipping
            Address
          </label>
        </div>
        <!-- Billing Address form -->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="country">Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getStates('billingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    billingAddressCountry?.invalid &&
                    (billingAddressCountry?.dirty ||
                      billingAddressCountry?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="billingAddressCountry?.errors?.['required'] || billingAddressCountry?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    Country is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="state">State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let state of billingAddressStates"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    billingAddressState?.invalid &&
                    (billingAddressState?.dirty || billingAddressState?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="billingAddressState?.errors?.['required'] || billingAddressState?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    State is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="city">City</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
                <div
                  *ngIf="
                    shippingAddressCity?.invalid &&
                    (shippingAddressCity?.dirty || shippingAddressCity?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    City is required
                  </div>
                  <div
                    *ngIf="shippingAddressCity?.errors?.['minlength']"
                    class=""
                  >
                    City must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="street">Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
                <div
                  *ngIf="
                    shippingAddressStreet?.invalid &&
                    (shippingAddressStreet?.dirty ||
                      shippingAddressStreet?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    Street is required
                  </div>
                  <div
                    *ngIf="shippingAddressStreet?.errors?.['minlength']"
                    class=""
                  >
                    Street must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="zipCode">ZIP Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
                <div
                  *ngIf="
                    shippingAddressZipCode?.invalid &&
                    (shippingAddressZipCode?.dirty ||
                      shippingAddressZipCode?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="shippingAddressZipCode?.errors?.['required'] || shippingAddressZipCode?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    Zip Code is required
                  </div>
                  <div
                    *ngIf="shippingAddressZipCode?.errors?.['minlength']"
                    class=""
                  >
                    Zip Code must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Credit Card form -->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="cardType">Card Type</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>Mastercard</option>
                </select>
                <div
                  *ngIf="
                    creditCardCardType?.invalid &&
                    (creditCardCardType?.dirty || creditCardCardType?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="creditCardCardType?.errors?.['required'] || creditCardCardType?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    Card Type is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="nameOnCard">Name On Card</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text" />
                <div
                  *ngIf="
                    creditCardNameOnCard?.invalid &&
                    (creditCardNameOnCard?.dirty ||
                      creditCardNameOnCard?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="creditCardNameOnCard?.errors?.['required'] || creditCardNameOnCard?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    Name is required
                  </div>
                  <div
                    *ngIf="creditCardNameOnCard?.errors?.['minlength']"
                    class=""
                  >
                    Name must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="cardNumber">Card Number</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text" />
                <div
                  *ngIf="
                    creditCardCardNumber?.invalid &&
                    (creditCardCardNumber?.dirty ||
                      creditCardCardNumber?.touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="creditCardCardNumber?.errors?.['required'] || creditCardCardNumber?.errors?.['notOnlyWhitespace']"
                    class=""
                  >
                    Card Number is required
                  </div>
                  <div *ngIf="email?.errors?.['pattern']" class="">
                    Card number must be 16 digits long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label for="securityCode">Security Code</label>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="securityCode" type="text" />
                  <div
                    *ngIf="
                      creditCardSecurityCode?.invalid &&
                      (creditCardSecurityCode?.dirty ||
                        creditCardSecurityCode?.touched)
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="creditCardSecurityCode?.errors?.['required'] || creditCardSecurityCode?.errors?.['notOnlyWhitespace']"
                      class=""
                    >
                      Security code is required
                    </div>
                    <div *ngIf="email?.errors?.['pattern']" class="">
                      Security code must be 3 digits long
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label for="expirationMonth">Expiration Month</label>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="expirationMonth">
                    <option *ngFor="let month of creditCardMonths">
                      {{ month }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label for="expirationYear">Expiration Year</label>
              <div class="col-md-9">
                <div class="input-space">
                  <select
                    formControlName="expirationYear"
                    (change)="handleMonthsAndYears()"
                  >
                    <option *ngFor="let year of creditCardYears">
                      {{ year }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-area">
          <h3>Review your order</h3>
          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{ totalPrice | currency: "USD" }}</p>
        </div>
        <!-- Submit button -->
        <div class="text-center">
          <button type="submit" class="primary-btn">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
